.content {
    font-size: 2vh;
    margin: -20.6% 1% 5% 12%; /* Значения отступа от левого блока первое значение с ТОП..  второе отступ справа 3- */
    padding: 2vh; /* Поля внутри блока */
    border: 0.3vh solid #333; /* Рамка контента */
    flex: 1 0 auto;
}