.content {
    margin: -200px 1% 20px 22%; /* Значения отступа от левого блока первое значение с ТОП..  второе отступ справа 3- */
    padding: 5px; /* Поля внутри блока */
    border: 1px solid #333; /* Рамка контента */
    flex: 1 0 auto;
}