.header {
    /* background: gray; /* Цвет фона шапки */
    padding: 40px; /* Поля вокруг текста */
    background: url("https://kartinkin.net/uploads/posts/2021-07/thumbs/1626976800_13-kartinkin-com-p-fioletovaya-sakura-anime-anime-krasivo-13.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}