
.search-box
{
    display: inline-block;
    position: absolute;
    width: 25vh;
    top: 4vh;
    left: 21vh;
    background: #d04545;
    height: 4vh;
    border-radius: 4vh;
    padding: 1vh;
}
.material-symbols-outlined
{
    color: #3a3afa;
    float: right;
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background: #000000;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.search-txt
{
    font-size: 1.5vh;
    width: 20vh;
    height: 2vh;
    position: absolute;
    display: flex;
}
