.sidebar {
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Рамка левого меню */
    width: 20%; /* Ширина левой колонки */
    padding: 5px; /* Поля внутри блока */
    margin: 10px 10px 20px 5px; /* Значения отступа от блока */

    display: compact;
    flex-direction: column;
    position: fixed;
}