body {
	font: 14px Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
	margin: 0; /* Отступы на странице */
}
h1 {
	font-size: 36px; /* Размер шрифта заголовка шапки */
	margin: 0; /* Убираем отступы */
	color: white; /* Цвет текста заголовка шапки */
}
h2 {
	margin-top: 0; /* Убираем отступ сверху */
}
.header {
	background: gray; /* Цвет фона шапки */
	padding: 10px; /* Поля вокруг текста */
}
.sidebar {
	float: left; /* Обтекание справа */
	border: 1px solid #333; /* Рамка левого меню */
	width: 20%; /* Ширина левой колонки */
	padding: 5px; /* Поля внутри блока */
	margin: 10px 10px 20px 5px; /* Значения отступа от блока */
	
	display: flex;
	flex-direction: column;
}
.content {
	margin: 10px 5px 20px 25%; /* Значения отступа от левого блока */
	padding: 5px; /* Поля внутри блока */
	border: 1px solid #333; /* Рамка контента */
	height: 100%;
	flex: 1 0 auto;
}
.footer {
	background: #333; /* Цвет фона подвал (футера) */
	padding: 5px; /* Поля внутри блока */
	color: #fff; /* Цвет текста футера */
	clear: left; /* Отменяем действие float */
	flex: 0 0 auto;
}