body {
	font: 14px Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
	margin: 0; /* Отступы на странице */
	padding: 0;
	font-family: 'Aboreto', cursive;
}
h1 {
	font-size: 15px; /* Размер шрифта заголовка шапки */
	margin: 0; /* Убираем отступы */
	color: white; /* Цвет текста заголовка шапки */
}
h2 {
	margin-top: 0; /* Убираем отступ сверху */
}
h3{
	margin: 0;
}
.atuiin-btn {
	height: 5vh;
	width: 16vh;
	display: inline-flex;
	position: relative;
	font-size: 2vh;
	line-height: 2vh;
	padding: 2vh 2vh;
	color: #a11010;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Тahoma, sans-serif;
	background: #d25858;
	cursor: pointer;
	border: 0.1vh solid #912a2a;
	overflow: hidden;
	text-decoration: none;
	margin: 0;
}
.atuiin-btn:hover:before,
.atuiin-btn:active:before,
.atuiin-btn:focus:before {
	right: 1vh;
}


.atuin-btn {
	height: 5vh;
	width: 16vh;
	display: inline-flex;
	position: relative;
	font-size: 2vh;
	line-height: 2vh;
	padding: 2vh 2vh;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Тahoma, sans-serif;
	background: #337AB7;
	cursor: pointer;
	border: 0.1vh solid #BFE2FF;
	overflow: hidden;
	text-decoration: none;
	margin: 0;
}
.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
	right: 1vh;
}


.vertical-menu {
	width: 10vh;
	margin-top: 1vh;
	margin-left: 1vh;

}


.vertical-menu a {

	font-size: 2vh;
	background-color: #ab2525;
	color: #ffffff;
	display: flex;
	padding: 1vh;
	text-decoration: none;
	justify-content: center;

}

.vertical-menu a:hover {

	background-color: #ccc;
}

.vertical-menu a.active {

	font-size: 2vh;
	background-color: #4CAF50;
	color: #8c0000;
}
.vertical-menu {
	width: 20vh;
	height: 40vh;
}
