body {
	font: 14px Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
	margin: 0; /* Отступы на странице */
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Aboreto', cursive;
}
h1 {
	font-size: 36px; /* Размер шрифта заголовка шапки */
	margin: 0; /* Убираем отступы */
	color: white; /* Цвет текста заголовка шапки */
}
h2 {
	margin-top: 0; /* Убираем отступ сверху */
}

.atuin-btn {
	height: 5%;
	width: 8.7%;
	display: inline-flex;
	position: relative;
	font-size: 20px;
	line-height: 20px;
	padding: 12px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Тahoma, sans-serif;
	background: #337AB7;
	cursor: pointer;
	border: 2px solid #BFE2FF;
	overflow: hidden;
	text-decoration: none;
}
.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
	right: 10px;
}


.vertical-menu {
	width: 20%;
	margin-top: 1%;
	border: 2px solid #ee8b53;
	margin-left: 0.2%;

}

.vertical-menu a {
	background-color: #eee;
	color: #e35e00;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu a:hover {
	background-color: #ccc;
}

.vertical-menu a.active {
	background-color: #4CAF50;
	color: white;
}
.vertical-menu {
	width: 200px;
	height: 150px;
	overflow-y: auto;
}