body {
	font: 14px Arial, Helvetica, sans-serif; /* Рубленый шрифт текста */
	margin: 0; /* Отступы на странице */
	background: url("https://funart.pro/uploads/posts/2021-04/1618497644_2-funart_pro-p-oboi-fon-anime-tyanka-2.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Aboreto', cursive;
}
h1 {
	font-size: 36px; /* Размер шрифта заголовка шапки */
	margin: 0; /* Убираем отступы */
	color: white; /* Цвет текста заголовка шапки */
}
h2 {
	margin-top: 0; /* Убираем отступ сверху */
}
.header {
	/* background: gray; /* Цвет фона шапки */
	padding: 30px; /* Поля вокруг текста */
	background: url("https://kartinkin.net/uploads/posts/2021-07/thumbs/1626976800_13-kartinkin-com-p-fioletovaya-sakura-anime-anime-krasivo-13.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
}
.sidebar {
	float: left; /* Обтекание справа */
	border: 1px solid #333; /* Рамка левого меню */
	width: 20%; /* Ширина левой колонки */
	padding: 5px; /* Поля внутри блока */
	margin: 10px 10px 20px 5px; /* Значения отступа от блока */
	
	display: compact;
	flex-direction: column;
	position: fixed;
}
.content {
	margin: -200px 1% 20px 22%; /* Значения отступа от левого блока первое значение с ТОП..  второе отступ справа 3- */
	padding: 5px; /* Поля внутри блока */
	border: 1px solid #333; /* Рамка контента */
	flex: 1 0 auto;
}
.footer {
	background: #333; /* Цвет фона подвал (футера) */
	padding: 5px; /* Поля внутри блока */
	color: #fff; /* Цвет текста футера */
	clear: left; /* Отменяем действие float */
	flex: 0 0 auto;
	position: fixed;
	bottom: 0;
}

.atuin-btn {
	height: 5%;
	width: 8.7%;
	display: inline-flex;
	text-decoration: none;
	position: relative;
	font-size: 20px;
	line-height: 20px;
	padding: 12px 30px;
	color: #FFF;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Roboto Condensed', Тahoma, sans-serif;
	background: #337AB7;
	cursor: pointer;
	border: 2px solid #BFE2FF;
	transition: transform 0.2s ease-out, padding 0.2s ease-out;
	overflow: hidden;
}
.atuin-btn:hover,
.atuin-btn:active,
.atuin-btn:focus {
	color: #FFF;
	transform: rotate(-2deg);
	padding: 12px 50px 12px 10px;
}
.atuin-btn:before {
	content: "\27A4";
	position: absolute;
	right: -30px;
	color: #1C4B73;
	transition: right 0.5s cubic-bezier(.97,.01,.97,.55);
}
.atuin-btn:hover:before,
.atuin-btn:active:before,
.atuin-btn:focus:before {
	right: 10px;
}

.vertical-menu {
	width: 20%; margin-top: 5%; border: 2px solid black;
}

.vertical-menu a {
	background-color: #eee;
	color: black;
	display: block;
	padding: 12px;
	text-decoration: none;
}

.vertical-menu a:hover {
	background-color: #ccc;
}

.vertical-menu a.active {
	background-color: #4CAF50;
	color: white;
}